--
-- PostgreSQL database dump
--

\restrict soyuqoiYvatYaPItcF0E1qaTPRxvBXrmzms3BooQja5nIEeMCvRQlxXBliKnePm

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: rms_admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO rms_admin;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: rms_admin
--

CREATE TABLE public.departments (
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    description character varying(500),
    is_active boolean NOT NULL,
    id character varying(36) DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(36),
    updated_by character varying(36),
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    deleted_by character varying(36)
);


ALTER TABLE public.departments OWNER TO rms_admin;

--
-- Name: COLUMN departments.id; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.id IS 'Primary key - UUID v4';


--
-- Name: COLUMN departments.created_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.created_at IS 'Record creation timestamp (UTC)';


--
-- Name: COLUMN departments.updated_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.updated_at IS 'Record last update timestamp (UTC)';


--
-- Name: COLUMN departments.created_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.created_by IS 'UUID of the user who created this record';


--
-- Name: COLUMN departments.updated_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.updated_by IS 'UUID of the user who last updated this record';


--
-- Name: COLUMN departments.is_deleted; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.is_deleted IS 'Soft delete flag - true if record is deleted';


--
-- Name: COLUMN departments.deleted_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.deleted_at IS 'Timestamp when record was soft-deleted (UTC)';


--
-- Name: COLUMN departments.deleted_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.departments.deleted_by IS 'UUID of the user who soft-deleted this record';


--
-- Name: designations; Type: TABLE; Schema: public; Owner: rms_admin
--

CREATE TABLE public.designations (
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    description character varying(500),
    is_active boolean NOT NULL,
    id character varying(36) DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(36),
    updated_by character varying(36),
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    deleted_by character varying(36)
);


ALTER TABLE public.designations OWNER TO rms_admin;

--
-- Name: COLUMN designations.id; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.id IS 'Primary key - UUID v4';


--
-- Name: COLUMN designations.created_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.created_at IS 'Record creation timestamp (UTC)';


--
-- Name: COLUMN designations.updated_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.updated_at IS 'Record last update timestamp (UTC)';


--
-- Name: COLUMN designations.created_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.created_by IS 'UUID of the user who created this record';


--
-- Name: COLUMN designations.updated_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.updated_by IS 'UUID of the user who last updated this record';


--
-- Name: COLUMN designations.is_deleted; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.is_deleted IS 'Soft delete flag - true if record is deleted';


--
-- Name: COLUMN designations.deleted_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.deleted_at IS 'Timestamp when record was soft-deleted (UTC)';


--
-- Name: COLUMN designations.deleted_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.designations.deleted_by IS 'UUID of the user who soft-deleted this record';


--
-- Name: users; Type: TABLE; Schema: public; Owner: rms_admin
--

CREATE TABLE public.users (
    full_name character varying(255) NOT NULL,
    employee_id character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    department_id character varying(36) NOT NULL,
    designation_id character varying(36) NOT NULL,
    is_active boolean NOT NULL,
    id character varying(36) DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(36),
    updated_by character varying(36),
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    deleted_by character varying(36)
);


ALTER TABLE public.users OWNER TO rms_admin;

--
-- Name: COLUMN users.id; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.id IS 'Primary key - UUID v4';


--
-- Name: COLUMN users.created_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.created_at IS 'Record creation timestamp (UTC)';


--
-- Name: COLUMN users.updated_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.updated_at IS 'Record last update timestamp (UTC)';


--
-- Name: COLUMN users.created_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.created_by IS 'UUID of the user who created this record';


--
-- Name: COLUMN users.updated_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.updated_by IS 'UUID of the user who last updated this record';


--
-- Name: COLUMN users.is_deleted; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.is_deleted IS 'Soft delete flag - true if record is deleted';


--
-- Name: COLUMN users.deleted_at; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.deleted_at IS 'Timestamp when record was soft-deleted (UTC)';


--
-- Name: COLUMN users.deleted_by; Type: COMMENT; Schema: public; Owner: rms_admin
--

COMMENT ON COLUMN public.users.deleted_by IS 'UUID of the user who soft-deleted this record';


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: rms_admin
--

COPY public.alembic_version (version_num) FROM stdin;
c6b86daa313c
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: rms_admin
--

COPY public.departments (name, code, description, is_active, id, created_at, updated_at, created_by, updated_by, is_deleted, deleted_at, deleted_by) FROM stdin;
Human Resource	HR	HR Department	t	b3b55ea1-0006-4dc8-9c45-443fb6cafd0d	2026-05-28 13:16:28.74334+00	2026-05-28 13:16:28.74334+00	\N	\N	f	\N	\N
\.


--
-- Data for Name: designations; Type: TABLE DATA; Schema: public; Owner: rms_admin
--

COPY public.designations (name, code, description, is_active, id, created_at, updated_at, created_by, updated_by, is_deleted, deleted_at, deleted_by) FROM stdin;
Software Engineer	SE	Engineering Position	t	52f8229d-6daf-4016-9640-aa73be85b58e	2026-05-28 13:17:06.454348+00	2026-05-28 13:17:06.454348+00	\N	\N	f	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: rms_admin
--

COPY public.users (full_name, employee_id, email, phone, department_id, designation_id, is_active, id, created_at, updated_at, created_by, updated_by, is_deleted, deleted_at, deleted_by) FROM stdin;
Ruhul Amin Saikot Updated	EMP001	ruhulaminsaikotmd@gmail.com.com	01888888888	b3b55ea1-0006-4dc8-9c45-443fb6cafd0d	52f8229d-6daf-4016-9640-aa73be85b58e	t	906dee07-0110-46ec-b982-6f5c326e8b81	2026-05-28 13:24:54.932572+00	2026-05-28 13:47:08.913239+00	\N	\N	f	\N	\N
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: departments departments_code_key; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_key UNIQUE (code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: designations designations_code_key; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.designations
    ADD CONSTRAINT designations_code_key UNIQUE (code);


--
-- Name: designations designations_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.designations
    ADD CONSTRAINT designations_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_employee_id_key UNIQUE (employee_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: users users_designation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rms_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_designation_id_fkey FOREIGN KEY (designation_id) REFERENCES public.designations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict soyuqoiYvatYaPItcF0E1qaTPRxvBXrmzms3BooQja5nIEeMCvRQlxXBliKnePm

